*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	overflow-x: hidden;
}
header
{
	height: 100vh;
	background: linear-gradient(169.4deg, #3984F4 -6.01%, #0CD3FF 36.87%, #2F7CF0 78.04%, #0E65E8 103.77%);
	opacity: 0.04;
}