@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root
{
	--black: #222;
	--blue: #2f7cf0;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}
header
{
	position: relative;
	padding: 24px 80px;
}
header .bg
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(169.4deg, #3984f4 -6.01%, #0cd3ff 36.87%, #2f7cf0 78.04%, #0e65e8 103.77%);
	opacity: 0.04;
}
.wrapper
{
	position: relative;
	max-width: 1400px;
	margin: 0 auto;
}
header nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header nav div
{
	display: flex;
}
header nav .list
{
	gap: 40px;
}
header nav .list p
{
	color: var(--black);
}
header nav .list p,
header nav .auth a
{
	font-size: 14px;
}
header nav .auth
{
	gap: 14px;
}
header nav .auth a
{
	font-weight: 500;
	text-decoration: unset;
	border-radius: 28px;
	padding: 12px 36px;
}
header nav .auth a.log-in
{
	color: var(--blue);
	border: 1px solid var(--blue);
}
header nav .auth a.sign-up
{
	background: linear-gradient(136.91deg, #468ef9 -12.5%, #0c66ee 107.5%);
	color: #fff;
}
header .content
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .content .text
{
	padding: 0 22px;
}
header .content .text h2
{
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--blue);
}
header .content .text h1
{
	width: 480px;
	font-size: 48px;
	color: var(--black);
}
header .content .text h1 span
{
	background: linear-gradient(169.4deg, #3984f4 -6.01%, #0cd3ff 36.87%, #2f7cf0 78.04%, #0e65e8 103.77%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header .content img
{
	width: 600px;
}