@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root
{
	--black: #222;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}
header
{
	position: relative;
	height: 100vh;
	padding: 24px 80px;
}
header .bg
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(169.4deg, #3984f4 -6.01%, #0cd3ff 36.87%, #2f7cf0 78.04%, #0e65e8 103.77%);
	opacity: 0.04;
}
header nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header nav div
{
	display: flex;
}
header nav .list
{
	gap: 60px;
}
header nav .list p
{
	color: var(--black);
}
header nav p
{
	font-size: 14px;
}
header nav .auth
{
	gap: 24px;
}